// This sets the font size to be the same for both the Angular Material
// list item title and list item line.
.mat-mdc-list-item {
  &-title,
  &-line {
    font-size: 1rem;
  }
}

.header-true {
  display: flex;
  justify-content: space-between;
}

.card-status {
  margin-left: auto;
}


.todo-card[status=true] {
  background-color: green;
}

.todo-card[status=false] {
  background-color: red;
}
